$primary1: #a4c3b2;
$primary2: #203544;
$accent: #FFFFFF;
$primary-color: #FFFFFF;
$secondary-color: #E7D9C2;
$accent-color: #DBA7A2;

$primaryFont: 'Abril Fatface';
$secondaryFont: 'Montserrat';

$primary-text-color: #071E22;
